.QuizForm {
  padding-top: 60px;
  min-height: 100vh;
}

.QuizForm form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.QuizForm form fieldset > div.fieldset-container {
  min-height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.QuizForm .progress-container {
  width: 100%;
  background: #eaeaea;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}

.QuizForm .progress-bar {
  height: 5px;
  border-radius: 0;
  background-color: rgb(85, 26, 139);
}

.QuizForm legend {
  padding: 20px 12px 12px;
  font-size: 26.667px;
  font-weight: 700;
}

.QuizForm legend small {
  font-size: 12px;
  font-weight: normal;
}

.QuizForm .QuizCheckBox.selected,
.QuizForm .QuizRadioButton.selected {
  background-color: #ede3fe;
}

.QuizForm .QuizCheckBox.incorrect,
.QuizForm .QuizCheckBox.selected.correct,
.QuizForm .QuizRadioButton.incorrect,
.QuizForm .QuizRadioButton.selected.correct {
  background-color: #ddf2d9;
}

.QuizForm .QuizCheckBox.selected.incorrect,
.QuizForm .QuizRadioButton.selected.incorrect {
  background-color: #ffe6cf;
}

.QuizForm div.buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.QuizForm div.buttons div.buttons-container {
  padding: 20px 12px;
}

.QuizForm .top-border {
  height: 5px;
  width: 100vw;
  background: #eaeaea;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}

.QuizForm div.bottom-buttons {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
