.SideNavLink {
  font-size: 15.5px;
  line-height: 1.3em;
  padding: 6.5px 44px;
  color: #373a36;
  margin-bottom: 12px;
  cursor: pointer;
}

.SideNavLink:hover {
  text-decoration: underline;
  color: #551a8b;
}

.SideNavLink.ref--visible {
  text-decoration: none;
  background-color: black;
  color: white;
}
