.NavigationCard {
  margin: 0 16px;
  padding: 16px 0;
  overflow: hidden;
  border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}

.NavigationCard a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.NavigationCard div.container {
  width: 100%;
  display: flex;
}

.NavigationCard img {
  width: 90px;
  border-radius: 4px;
}

.NavigationCard div.text {
  padding: 0 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.NavigationCard .title {
  text-align: center;
}

.NavigationCard .extra {
  font-size: 10px;
}
