.NavigationCard {
  margin: 0 16px;
  padding: 16px 0;
  overflow: hidden;
  border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}

.NavigationCard a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.NavigationCard div.container {
  width: 100%;
  display: flex;
}

.NavigationCard img {
  width: 90px;
  border-radius: 4px;
}

.NavigationCard div.text {
  padding: 0 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.NavigationCard .title {
  text-align: center;
}

.NavigationCard .extra {
  font-size: 10px;
}

@media screen and (min-width: 650px) {
  .NavigationCard {
    margin: 0;
    padding: 0;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.25);
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 20%);
  }

  .NavigationCard div.container {
    flex-direction: column;
  }

  .NavigationCard img {
    width: 100%;
    border-radius: 0px;
  }

  .NavigationCard div.text {
    padding: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
