.StudyImage {
  margin: 0;
}

.StudyImage.full-width img {
  width: 100vw;
  max-width: 683px;
  position: relative;
  left: -20px;
  display: block;
}

.StudyImage.fyi img {
  width: 100%;
  border-radius: 5px;
}

.StudyImage figcaption {
  text-align: center;
  line-height: 1;
  font-size: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}

@media screen and (min-width: 750px) {
  .StudyImage.float-right {
    float: right;
    margin-left: 8px;
  }

  .StudyImage.float-left {
    float: left;
    margin-right: 8px;
  }
}
