.Times {
  cursor: pointer;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
}

button.Times {
  padding: 0;
  border: none;
  background-color: #ffffff00;
}
