.NavbarAccordion {
  color: #595959;
}

.NavbarAccordion .main {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavbarAccordion .main:hover {
  text-decoration: underline;
  color: #551a8b;
}

.NavbarAccordion .children {
  padding-left: 16px;
}

.Navbar nav.subnav .section a > div {
  height: 40px;
  overflow: hidden;
  transition: height 0.6s;
}

.Navbar nav.subnav .section .accordion--collapsed a > div,
.Navbar nav.subnav.subnav--hidden .section a > div {
  height: 0px;
}
